<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select
      panelClass="sort-select"
      [(ngModel)]="sort"
    >
      <mat-option value="name">Name</mat-option>
      <mat-option value="released">Released</mat-option>
      <mat-option value="added">Added</mat-option>
      <mat-option value="created">Created</mat-option>
      <mat-option value="updated">Updated</mat-option>
      <mat-option value="rating">Rating</mat-option>
      <mat-option value="metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="games">
  <div class="game">
    <div class="game-thumb-container">
      <img 
        src="https://cdn.vox-cdn.com/thumbor/Xm1C9TWbMK55zAnuR09oD6XMyRI=/0x0:1024x1024/1200x800/filters:focal(444x567:606x729)/cdn.vox-cdn.com/uploads/chorus_image/image/65813576/mobile_MarioKartTour_screen_01.0.png"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="game-platforms">
        <img 
          src="https://icons8.com/iconizer/files/blackbox_social_bookmarks/orig/xbox_live.png"
          alt="slug"
          class="game-platform"
        />
      </div>
    </div>
  </div>
</div>
